#terminal {
  width: 90%;
  height: 50%;
  background-color: #0f0f0f;
  color: #00ff00;
  padding: 1em;
  font-family: courier;
  margin: 0px auto;
  overflow: scroll;
  border: 1em solid #888888;
}

#cursor {
  font-weight: bold;
}

table {
  color: #00ff00;
}

td {
  height: 2em;
}

body {
  max-width: 800px;
  margin: 0px auto;
  font-family: courier;
  background-color: #d8d8d8
}
